
<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moje Postacie</title>
    <link href="/public/main/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/public/main/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/system">
            <div class="sidebar-brand-text mx-3">mRpgTools</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/system">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Strona Glowna</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            GRA
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-gamepad"></i>
                <span>Dolacz Do Rozgrywki</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-glasses"></i>
                <span>Obserwuj Rozgrywke</span></a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="far fa-plus-square"></i>
                <span>Stworz Rozgrywke</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Dodatki
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/system/characters">
                <i class="fas fa-mask"></i>
                <span>Moje Postacie</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-puzzle-piece"></i>
                <span>Dodatki Dla Graczy</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-meteor"></i>
                <span>Zostan GameMasterem</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <br/>
        <!-- Main Content -->
        <div id="content">

            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Moje Postacie</h1>

                <a href="characters/create" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Dodaj nowa postac</span>
                </a>
                <hr/>
                <div class="row">
                    <% characters.forEach((chemp) => {%>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card" style="width: 18rem; height: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title"><%- chemp.name %></h5>
                                    <p class="card-text small text-dark">
                                        Uniwersum:<br/><%- chemp.universe %><br/><br/>
                                        Data stworzenia:<br/> 01.02.2020 15:20:10<br/><br/>
                                        Aktualny stan:<br/> <%- chemp.alive ? "Zyje" : "Nie zyje" %><br/><br/>
                                        Unikalne ID:<br/> <%- chemp.id %>
                                        <br/>
                                        <a href="<%- "characters/info/"+chemp.id%>" class="card-link">Pelne statystyki</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% });%>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>mRpgTools made with <span style="color: red;"><i class="fas fa-heart"></i></span> by <a href='https://github.com/Matrzak'>Matrzak</a></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- Bootstrap core JavaScript-->
<script src="/public/main/vendor/jquery/jquery.min.js"></script>
<script src="/public/main/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/public/main/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/public/main/js/sb-admin-2.min.js"></script>

</body>

</html>
